.DS_Store
.env
.git
.idea
.fleet
.vscode
bootstrap/cache/*.php
node_modules
npm-debug.log
public/build
public/hot
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
vendor
yarn-error.log
